{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al Sistema</title>
    

    {%load static %}

    <!-- Bootstrap -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

    
</head>
<body>
    
    {% load crispy_forms_tags %}

    <div class="container">
        <br>   
        <br>  
        <br>  
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-body">
                        <h2>Ingrese sus datos</h2>
                        <hr>
                        <form action="" method="post" >
                            {% csrf_token%}
                            {{ form | crispy }}
                            <a href="{% url 'home'%}">Ir al home</a> |
                            <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
                            <a class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="oauth2" %}">
                                <span class="fab fa-facebook"></span>
                                Login with facebook
                            </a>
                            <input type="submit" value="ingresar" class="btn btn-primary btn-block">

                        </form>


                    </div>

                </div>

            </div>

        </div>


    </div>

</body>
</html>