<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion clave</title>
</head>
<body>
    <br>
    <br>
    <br>
    <h1 style="font-size: 1.5em; line-height: 2em;">Cordial saludo {{ user.first_name }}</h1>

    <p>Enviamos este mensaje para restablecer su contraseña. Haga clic en el siguiente enlace:</p>
    
    <p><a href="https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
    
    <p>Su correo electrónico registrado es:<b>{{ user.email }}</b></p> 
</body>
</html>
