{% extends "core/base.html" %}

{% block title %}restablecer contraseña{% endblock %}

{% block content %}
<section class="PasswordResetConfirm">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h3>Restablecer contraseña.</h3>
        <form method="post">
            {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="formGroup">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
            <div class="formGroup">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="formGroup">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button class="btn btn-success" type="submit">Restablecer"</button>
        </form>
      </div>
    </div>
</section>
{% endblock %}