{% extends "core/base.html" %}

{% block title %}Recuperar contraseña{% endblock %}


{% block content %}
<div class="PasswordResetForm">
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <p>Ingrese su correo electrónico y le enviarémos las instrucciones para recuperar su contraseña.</p>

        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-group">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                <div class="helpText">{{ field.help_text|safe }}</div>
            </div>
        {% endfor %}
            <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}