{% extends "core/base.html" %}

{% block title %}Recuperar contraseña hecho{% endblock %}


{% block content %}
<section class="PasswordResetDone">
    <br>
    <h3>Recuperación de contraseña.</h3>

    <p>Hemos enviado un correo electrónico con las instrucciones para recuperar su contrsaseña</p>

    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
</section>
{% endblock %}