{% extends "core/base.html" %}

{% block title %}Editar contraseña{% endblock %}

{% block content %}
<section class="PasswordChangeForm">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h3>Editar contraseña.</h3>

        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="form-group">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="form-group">
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <div class="actions">
                <button type="submit" class="btn btn-success">Actualizar contraseña</button>
            </div>
        </form>        
      </div>
    </div>
</section>
{% endblock %}