{% extends 'core/base.html' %}

{%load static %}
{% block content%}

<main class="main">
    <section class="about-us section-container">
        <h1>¿Quienes somos?</h1>
        <div class="content-wrapper">
  
          <article class="about-item">
            <div class="image-container">
              <img src="{% static 'core/images/about-1.jpg'%}" alt="Sobre nosotros">
            </div>
            <div>
              <h2>Sobre nosotros</h2>
              <p>Somos una empresa dedicada a implementar soluciones de comunicación digital basadas en la creatividad, innovación, estrategia y en el valor de la interactividad.</p>
            </div>
          </article>
  
          <article class="about-item">
            <div class="image-container">
              <img src="{% static 'core/images/about-2.jpg'%}" alt="Sobre nosotros">
            </div>
            <div>
              <h2>Misión</h2>
              <p>Acompañar a nuestros clientes de la mano para que descubran su máximo potencial en la red. Descubrir junto a ellos el camino. Crecer juntos y disfrutar de cada éxito. Sentir cada proyecto como nuestro.</p>
            </div>
          </article>
  
          <article class="about-item">
            <div class="image-container">
              <img src="{% static 'core/images/about-3.jpg'%}" alt="Sobre nosotros">
            </div>
            <div>
              <h2>Visión</h2>
              <p>Ser reconocidos y admirados como un referente en la industria; excediendo las expectativas del cliente de manera permanente; y siendo el mejor lugar para trabajar.</p>
            </div>
          </article>
  
        </div>
      </section>

</main>

{% endblock%}