<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Desarrollo Web y Mobile</title>

    <!-- Normalizar css  -->
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" >
    <!-- Agregando iconos jam -->
    <link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">    
    

    <!--Cargar recursos estáticos locales-->
    {%load static %}
    <!-- Estilos -->
    <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" >
    <!-- Favicon -->
    <link href="{% static 'core/images/loading.png' %}" rel="icon" type="images/png" > 
    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/carousel.css' %}" rel="stylesheet">
    <!-- Bootstrap carousel -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Scripts -->
    
    <script src="{% static 'core/scripts/menu.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="scripts/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'core/scripts/popper.min.js' %}"></script>
    <script src="{% static 'core/scripts/bootstrap.min.js' %}"></script>

{% block head%}
{% endblock%}

</head>
<body>
    
    <header class="main-header">
        <div class="content-wrapper">
            <a href="{% url 'home' %}">
                <img src="{% static 'core/images/LOGO-2.jpg'%}" alt=" Logo Software">
            </a>
            <!-- <p class="name-header">DWY | Desarrollo Aplicaciones Web y Mobile</p> -->
            <span id="open-menu-button" class="jam jam-menu"></span>
            <nav id="main-menu" class="main-menu">
                <span id="close-menu-button" class="jam jam-close"></span>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li>
                        <a href="{% url 'about-us' %}">Quienes somos</a>
                    </li>
                    <li>
                        <a href="{% url 'projects' %}">Proyectos</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contacto</a>
                    </li>
                    <li>
                        <a href="{% url 'listado' %}">Listado</a>
                    </li>
                    <li>
                        <a href="{% url 'galeria' %}">Galeria</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                    <li>
                        <a href="#">@{{user.username}}</a>
                    </li>

                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    </li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    {% block content %} {% endblock %}
    <footer class="main-footer">
        <p>Derechos reservados 2020</p>
    </footer>
</body>
</html>