{% extends 'core/base.html' %}

{%load static %}

{% block content%}

{% load crispy_forms_tags %}

<main class="main">
    <section class="contact-section section-container">
        <h1>Contacto</h1>
        <div class="content-wrapper">     
          <section class="address">
            <div class="contact-item">
              <h4>Teléfono</h4>
              <p>
                <span class="jam jam-phone"></span>
                <a href="tel:56223154696">(562) 23154696</a>
              </p>
            </div>
      
            <div class="contact-item">
              <h4>Correo electrónico</h4>
              <p>
                <span class="jam jam-newsletter"></span>
                <a href="mailto:contacto@ttdesign.cl">contacto@ttdesign.cl</a>
              </p>
            </div>
      
            <div class="contact-item">
              <h4>Redes sociales</h4>
              <div class="social-networks">
                <a href="#"><span class="jam jam-twitter"></span></a>
                <a href="#"><span class="jam jam-facebook"></span></a>
                <a href="#"><span class="jam jam-whatsapp"></span></a>
                <a href="#"><span class="jam jam-instagram"></span></a>
              </div>
            </div>
      
            <div class="contact-item">
              <h4>Dirección</h4>
              <p>
                <span class="jam jam-map-marker"></span>
                <a href="https://www.google.com/maps/place/Santiago,+Santiago+Metropolitan+Region/@-33.4724228,-70.769914,11z/data=!3m1!4b1!4m5!3m4!1s0x9662c5410425af2f:0x8475d53c400f0931!8m2!3d-33.4486307!4d-70.6695557" target="_blank">Santiago, Chile</a>
              </p>
            </div>
 
            <iframe class="map-ubication" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212999.1973527014!2d-70.76991441481427!3d-33.47242276734696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5410425af2f%3A0x8475d53c400f0931!2sSantiago%2C%20Santiago%20Metropolitan%20Region!5e0!3m2!1sen!2scl!4v1598990785578!5m2!1sen!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>      
          </section>

          <div>
            <h4>¿Quieres trabajar con nosotros?</h4>
            <h5>Escríbenos</h5>
            
            <table>
              <form action="" method='POST' enctype="multipart/form-data" novalidate>
                {% csrf_token%}
                {{form | crispy }}
                
                  <tr>
                    <td>
                      <input type="reset" class="btn btn-primary" value="Limpiar" >
                    </td>
                    <td>
                      <input type="submit" class="btn btn-primary" value="Enviar">
                    </td>
                  </tr>
              </form>
            </table>
            {{mensaje}}
            <!--
            <form onreset="restablecer()">
                <label id="name">Nombre:</label>
                <input class="data-input" type="text" name="Nombre" onfocus="evento_onfocus(this)"> <br>
                <label id="last-name">Apellido:</label>
                <input class="data-input" type="text" name="Apellido" onfocus="evento_onfocus(this)"> <br>
                <label id="birth-date">Fecha de Nacimiento:</label>
                <input class="data-input" type="date" name="fecha" onfocus="evento_onfocus(this)"> <br>
                <label id="e-mail">Escribe tu email:</label>
                <input class="data-input" type="email" name="email" placeholder="nombre@dominio.com" onfocus="evento_onfocus(this)"> <br>
                <br>
                <textarea id="w3review" name="w3review" rows="10" cols="50" placeholder="Cuéntanos en que podemos ayudarte..."></textarea>
                <input type="reset"> 
            </form> -->
            
            <!-- <span>
              <button id="send" onClick="guardar()">Enviar</button>
            </span> -->
          </div> 
        
        </div>
    </section>
</main>


{% endblock%}