{% extends 'core/base.html' %}

{%load static %}

{% block head%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js" integrity="sha512-j7/1CJweOskkQiS5RD9W8zhEG9D9vpgByNGxPIqkO5KrXrwyDAroM9aQ9w8J7oRqwxGyz429hPVk/zR6IOMtSA==" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
    integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg=="
    crossorigin="anonymous" />

{% endblock%}

{% block content%}

<main class="main">      
    

    <section class="contact-section section-container">

        <h1>Galeria</h1>
                    <div class="container">
                        <div class="row text-center text-lg-left">
                            {% for a in lista %}
                            <div class=" galeria col-lg-3 col-md-4 col-6">
                                <a href="{{a.imagen.url}}" data-fancybox data-caption="{{a.name}}" class="d-block mb-4 h-100">
                                    <img class="img-fluid img-thumbnail" src="{{a.imagen.url}}" alt="Galeria1" width="200px" height="300px">
                                </a>
                            </div>
                            {% endfor %}
                        </div> 
                    </div> 
    </section>
</main>

{% endblock%}

