{% extends 'core/base.html' %}

{%load static %}
{% block content%}

<main role="main">
    <!-- Banner principal -->
    
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="first-slide" src="{% static 'core/images/gummy-desktop.svg'%}" alt="First slide">
                <div class="container">
                  <div class="carousel-caption text-left">
                    <h1>Bienvenidos a TT Design</h1>
                    <p>Necesitas asesoria inmediata? Nosotros te ayudamos</p>
                    <p><a class="button white" href="{% url 'contact' %}" role="button">Contáctanos</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="second-slide" src="#" alt="Second slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h1>Mejora tu producto</h1>
                    <p>Si eres emprendedor, te podemos ayudar y así podrás ofrecer un mejor producto a tus clientes</p>
                    <p><a class="button white" href="{% url 'contact' %}" role="button">Probar</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="third-slide" src="#" alt="Third slide">
                <div class="container">
                  <div class="carousel-caption text-right">
                    <h1>Calidad al mejor precio</h1>
                    <p>Tenemos un amplio portafolio de diseños web para que puedas elegir con tranquilidad antes o después de la compra del servicio. Tu página web, aplicación o videojuego tendrá una apariencia profesional</p>
                    <p><a class="button white" href="{% url 'contact' %}" role="button">Comienza ahora!</a></p>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>

    <!-- Servicios -->
    <section class="services-section section-container">
            <h2>Nuestros servicios</h2>
            <div class="content-wrapper">
                <article class="service-item">
                    <span class="jam jam-computer-alt"></span>
                        <h3>Desarrollo páginas web</h3>
                        <p>Diseño y Desarrollo de páginas web responsive para ser visualizados desde dispositivos desktop, tablet y smartphone.</p>
                </article>
                <article class="service-item">
                    <span class="jam jam-phone"></span>
                        <h3>Desarrollo Aplicaciones</h3>
                        <p>Aplicaciones responsive Android e IOS</p>
                </article>
                <article class="service-item">
                    <span class="jam jam-joystick"></span>
                        <h3>Desarrollo videojuegos</h3>
                        <p>Juegos en 2D que te mantendrán ocupado</p>
                </article>
            </div>
    </section>
    <!-- Sobre nosotros -->
    <section class="section-container about-section">
        <div class="content-wrapper">
            <h2 class="title">Sobre Nosotros</h2>
            <p>Este es el sitio web de nuestra empresa de desarrollo</p>
            <a href="proyectos.html" class="button white ghost">Ver experiencia</a>
        </div>
        <img class="background" src="{% static 'core/images/bg-section.jpg'%}" alt="Alumnos estudiando">
    </section>

    <!-- Ultimos proyectos -->
    <section class="section-container last-projects">
        <h2>Ultimos proyectos</h2>
        <div class="content-wrapper">
            <a href="" class="project-item">
                <article>
                    <div>
                        <h4>Aplicaciones</h4>
                        <p>Descripción proyectos</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'core/images/project-1.jpg'%}" alt="Proyecto 1">
                    </div>
                </article>
            </a>
            <a href="" class="project-item">
                <article>
                    <div>
                        <h4>Aplicaciones</h4>
                        <p>Descripción proyectos</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'core/images/project-2.jpg'%}" alt="Proyecto 2">
                    </div>
                </article>
            </a>
            <a href="" class="project-item">
                <article>
                    <div>
                        <h4>Página Web</h4>
                        <p>Descripción proyectos</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'core/images/project-3.jpg'%}" alt="Proyecto 3">
                    </div>
                </article>
            </a>
            <a href="" class="project-item">
                <article>
                    <div>
                        <h4>Mejoras</h4>
                        <p>Descripción proyectos</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'core/images/project-4.jpg'%}" alt="Proyecto 4">
                    </div>
                </article>
            </a>
        </div>
    </section>

    <!-- Trabaja con nosotros -->
    <section class="work-with-us">
        <div class="content-wrapper">
            <h2 class="title">Quieres trabajar con nosotros?</h2>
            <p class="subtitle">Es momento de convertir tu idea en algo real, puedes contactarnos en nuestras redes sociales o enviando un correo a:</p>
            <a href="mailto:contacto@ttdesign.cl" class="button">contacto@ttdesign.cl</a>
            <div class="social-networks">
                <a href="" target="_blank"><span class="jam jam-facebook"></span></a>
                <a href="" target="_blank"><span class="jam jam-twitter"></span></a>
                <a href="" target="_blank"><span class="jam jam-whatsapp"></span></a>
                <a href="" target="_blank"><span class="jam jam-instagram"></span></a>
            </div>
        </div>
    </section>
</main>

{% endblock%}