{% extends 'core/base.html' %}

{%load static %}

{% block content%}

<main class="main">
    <section class="contact-section section-container">
        <h1>Listado de Solicitudes</h1>

        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Solicitud</th>
                <th>E-mail</th>
                <th>Imagen</th>
                <th>Opciones</th>
            </tr>
            {% for a in lista %}
            <tr>
                <td>{{ a.name}}</td>
                <td>{{ a.lastName}}</td>
                <td>{{ a.birthDate}}</td>
                <td>{{ a.email}}</td>
                <td>
                    <img src="{{ a.imagen.url }}" width="200px">
                </td>
                <td>
                    <a href="{% url 'modificar_contacto' a.id %}"class="btn btn-primary btn-sm">Modificar</a>
                    <a href="{% url 'eliminar_imagen' a.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
               
            </tr>
            {% endfor %}
        </table>
    {% if messages %}

    {% for m in messages %}

    <div> {{ m }}</div>

    {% endfor %}

    {% endif %}

    </section>

</main>


{% endblock%}