{% extends 'core/base.html' %}

{%load static %}

{% block content%}

{% load crispy_forms_tags %}

<main class="main">
    <section class="contact-section section-container">
      <h1>Modifica tus datos</h1>
      <br>
        <div class="content-wrapper">
            <table>
              <form action="" method='POST' enctype="multipart/form-data" novalidate>
                {% csrf_token%}
               
                {{form | crispy }}
                
                  <tr>
                    
                    <td>
                      <input type="submit" class="btn btn-primary" value="Modificar">
                    </td>
                  </tr>
              </form>
            </table>
            {{mensaje}}
        </div>
    </section>

</main>

{% endblock%}