{% extends 'core/base.html' %}

{%load static %}
{% block content%}

<main class="main">
    <section class="projects-section section-container">
      <h1>Nuestros Proyectos</h1>
      <div class="content-wrapper">

        <article class="card-project">
          <div class="image-container">
            <img src="{% static 'core/images/project-1.jpg'%}" alt="Proyecto 1">
          </div>
          <div>
            <h3>Proyecto 1</h3>
            <p>Construcción de aplicación web para nuestro cliente</p>
            <a href="" target="_blank">Ver proyecto</a>
          </div>
        </article>

        <article class="card-project">
          <div class="image-container">
            <img src="{% static 'core/images/project-2.jpg'%}" alt="Proyecto 1">
          </div>
          <div>
            <h3>Proyecto 2</h3>
            <p>Construcción de aplicación web para nuestro cliente</p>
            <a href="" target="_blank">Ver proyecto</a>
          </div>
        </article>

        <article class="card-project">
          <div class="image-container">
            <img src="{% static 'core/images/project-3.jpg'%}" alt="Proyecto 1">
          </div>
          <div>
            <h3>Proyecto 3</h3>
            <p>Construcción de aplicación web para nuestro cliente</p>
            <a href="" target="_blank">Ver proyecto</a>
          </div>
        </article>

        <article class="card-project">
          <div class="image-container">
            <img src="{% static 'core/images/project-4.jpg'%}" alt="Proyecto 1">
          </div>
          <div>
            <h3>Proyecto 4</h3>
            <p>Construcción de aplicación web para nuestro cliente</p>
            <a href="" target="_blank">Ver proyecto</a>
          </div>
        </article>        
      </div>
    </section>
  </main>

{% endblock%}